<head>
  {% include head-charset-utf-8.html %}
  {% include head-ie-legacy-document-mode.html %}
  {% include head-viewport.html %}

  {% include head-description.html %}
  {% include head-title.html %}

  {% include head-homescreen-android.html %}
  {% include head-homescreen-ios.html title=site.title %}
  {% include head-homescreen-win8.html %}

  {% include head-canonical.html url=page.url baseurl=site.baseurl siteurl=site.url title=site.title %}

  {% include head-fonts.html %}
  {% include head-styles.html baseurl=site.baseurl %}
</head>
