---
layout: default
---
<article type="BlogPosting">
  <div>
    <header>
      <h3>{{ page.title }}</h3>
      <div class="meta">
        <div class="minilogo"></div>
        <div>
          <strong>{{ page.author }}</strong>
          <span>{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <div class="section-spacer"></div>
        <div class="meta__favorites">
          425 <i class="material-icons" role="presentation">favorite</i>
          <span class="visuallyhidden">favorites</span>
        </div>
        <div>
          <i class="material-icons" role="presentation">bookmark</i>
          <span class="visuallyhidden">bookmark</span>
        </div>
        <div>
          <i class="material-icons" role="presentation">share</i>
          <span class="visuallyhidden">share</span>
        </div>
      </div>
    </header>
    <!--
      TODO: Find a name for this...section...article?
    -->
    <div>

      {{ content }}

    </div>
  </div>

  <nav>
    <div class="demo-back">
      <a href="index.html" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
    </div>
    <a href="index.html">
      <button role="presentation">
        <i class="material-icons">arrow_back</i>
      </button>
      Newer
    </a>
    <div class="section-spacer"></div>
    <a href="index.html">
      Older
      <button role="presentation">
        <i class="material-icons">arrow_forward</i>
      </button>
    </a>
  </nav>
</article>
