@import "layout";
@import "card";
@import "footer";
@import "grid";

body::before {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

.demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-blog article[type~=BlogPosting] {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;

  @extend .mdl-grid;

  & .mdl-card__media {
    background-image: url('../images/road_big.jpg');
    height: 280px;
  }

  & > div {
    @extend .mdl-card, .mdl-shadow--4dp;
    @extend .mdl-cell, .mdl-cell--12-col;

    & header {
      & h3 {
        @extend .mdl-card__media, .mdl-color-text--grey-50;
      }

      /**
       * The main content:
       */

      & > div {
        @extend .mdl-color-text--grey-700;
        @extend .mdl-card__supporting-text;
      }
    }
  }

  & > nav {
    @extend .mdl-color-text--grey-50;
    @extend .mdl-cell, .mdl-cell--12-col;

    & > .demo-back {
      position: absolute;
      top: 16px;
      left: 16px;
      color: white;
      z-index: 9999;

      & a {
        @extend .mdl-button, .mdl-js-button;
        @extend .mdl-js-ripple-effect;
        @extend .mdl-button--icon;
      }
    }

    & > a {
      @extend .demo-nav__button;

      & > button {
        @extend .mdl-button, .mdl-js-button, .mdl-button--icon;
        @extend .mdl-js-ripple-effect;
        @extend .mdl-color--white, .mdl-color-text--grey-900;
      }
    }
  }
}
.demo-blog header .meta {
  @extend .mdl-color-text--grey-700;
  @extend .mdl-card__supporting-text;

  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.demo-blog header .meta > .meta__favorites{
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.demo-blog header .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.demo-blog .mdl-card header .meta.meta--fill {
  justify-content: space-between;
}
.demo-blog header .meta > *:first-child {
  margin-right: 16px;
}
.demo-blog header .meta > * {
  display: flex;
  flex-direction: column;
}
.demo-blog.is-small-screen article[type~=BlogPosting] > .mdl-card.coffee-pic {
  order: 0;
}
.demo-blog.is-small-screen article[type~=BlogPosting] > .mdl-card.something-else {
  order: -1;
}
.demo-blog .coffee-pic .mdl-card__media {
  background-image: url('../images/coffee.jpg');
}
.demo-blog .something-else .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.demo-blog .something-else > button {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(0px, -28px);
}
.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.demo-blog .something-else .mdl-card__media img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.demo-blog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.demo-blog .on-the-road-again .mdl-card__media {
  background-image: url('../images/road.jpg');
}
.demo-blog .shopping .mdl-card__media {
  background-image: url('../images/shopping.jpg');
}
.demo-blog article[type~=BlogPosting] > nav {
  margin: 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
}
.demo-blog article[type~=BlogPosting] > nav > .demo-nav__button {
  color: white;
  text-decoration: none;
}
.demo-blog article[type~=BlogPosting] > nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.demo-blog article[type~=BlogPosting] > nav > .demo-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.demo-blog article[type~=BlogPosting] > nav > .demo-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.demo-blog--blogpost .custom-header {
  background-color: transparent;
}
.demo-blog--blogpost header .meta > * {
  align-items: center;
}
.demo-blog--blogpost header + div {
  border: 0;
  display: flex;
  flex-direction: column;
}
.demo-blog--blogpost header + div p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}


.demo-blog .section-spacer {
  flex-grow: 1;
}
.demo-blog .something-else {
  overflow: visible;
  z-index: 10;
}
.demo-blog .amazing .mdl-card__title {
  background-color: #263238;
}
.demo-blog .minilogo {
  width: 44px;
  height: 44px;
  background-image: url('../images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5;
}
